---

services:
  caddy:
    container_name: caddy
    # See more: https://github.com/CaddyBuilds/caddy-cloudflare
    image: ghcr.io/caddybuilds/caddy-cloudflare:latest
    restart: always
    env_file: ./env/caddy.env
    ports:
      - 80:80
      - 443:443
      - 443:443/udp
    volumes:
      - caddyfile:/etc/caddy:ro
      - caddy_data:/data
      - caddy_config:/config
    healthcheck:
      test: netstat -ptan | grep -E "443.*LISTEN" || exit 1
      interval: 10s
      timeout: 3s
      start_period: 60s

  gluetun:
    container_name: gluetun
    # See more: https://github.com/qdm12/gluetun-wiki
    image: qmcgaw/gluetun  
    restart: always
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    env_file: ./env/gluetun.env
    volumes:
      - gluetun:/gluetun

  watchtower:
    container_name: watchtower
    # See more: https://github.com/containrrr/watchtower
    image: containrrr/watchtower
    env_file: ./env/watchtower.env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

include:
  - bittorrent-compose.yml
  - arr-compose.yml
  - plex-compose.yml

networks:
  default:
    name: media_network
    driver: bridge
    attachable: true

volumes:
  caddy_data:
    driver: local
    driver_opts:
      type: "nfs"
      o: "addr=${NFS_SERVER},rw,tcp,nolock,hard,wsize=65536,rsize=65536"
      device: ":${DOCKER_VOLUME}/caddy/data"

  caddy_config:
    driver: local
    driver_opts:
      type: "nfs"
      o: "addr=${NFS_SERVER},rw,tcp,nolock,hard,wsize=65536,rsize=65536"
      device: ":${DOCKER_VOLUME}/caddy/config"

  caddyfile:
    driver: local
    driver_opts:
      type: "nfs"
      o: "addr=${NFS_SERVER},rw,tcp,nolock,hard,wsize=65536,rsize=65536"
      device: ":${DOCKER_VOLUME}/caddy/caddyfile"

  gluetun: # Gluetun app data.
    driver: local
    driver_opts:
      type: "nfs"
      o: "addr=${NFS_SERVER},rw,tcp,nolock,hard,wsize=65536,rsize=65536"
      device: ":${DOCKER_VOLUME}/gluetun"
